<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= product.active %>
  </p>
  <!-- Display images if any are attached -->
  <div class="my-5">
    <% if product.images.attached? %>
      <strong class="block font-medium mb-1">Images:</strong>
      <div class="flex justify-evenly flex-wrap gap-4 ">
        <% product.images.each do |image| %>
          <%= image_tag(image.variant(:thumb), class: "mr-3 rounded-lg shadow-lg hover:shadow-xl" )%>
        <% end %>
      </div>
    <% else %>
      <%= image_tag("https://via.placeholder.com/50") %> <!-- Placeholder image if no images are attached -->
    <% end %>
  </div>
  <% if action_name !="show" %>
    <%= link_to "Show this category", admin_product_path(product), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this category", edit_admin_product_path(product), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
